@import url('@/settings/global.css');

.Zhongli .Game .Background {
  @apply absolute top-0 h-full w-full;

  .image {
    background-image: url('./img/bg.jpg');
    @apply pointer-events-none absolute h-full w-full bg-cover bg-center;
  }

  .clear {
    background-image: url('./img/clear.jpg');
    @apply pointer-events-none absolute h-full w-full bg-cover bg-center opacity-0;
  }

  .card {
    @img: './img/card-cover.jpg';
    @apply absolute bottom-0 w-full;

    & > div {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);

      @apply relative w-full bg-contain bg-center bg-no-repeat;

      & > div {
        @apply absolute top-0 right-0 bottom-0 left-0;
      }

      canvas {
        @apply absolute bottom-0;
      }

      .content {
        background-image: url(@img);
        @apply invisible h-full w-full;
      }
    }
  }

  .mask {
    width: (unit(image-width(@img))) / 1280 * 100%;

    @img: './img/mask.png';
    @apply pointer-events-none absolute top-0;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .vacuum {
    @apply pointer-events-none absolute top-0 h-full w-full;

    & > div {
      width: (unit(image-width(@img))) / 1280 * 100%;

      @img: './img/card-cover.jpg';
      @apply absolute bottom-0;

      & > div {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);

        @apply w-full bg-contain bg-center bg-no-repeat;

        & > div {
          @apply absolute top-0 right-0 bottom-0 left-0;

          .fake {
            bottom: -158%;
            left: 30%;
            margin-left: -(unit(image-width(@img))) / 1280 * 100% / 2;
            width: (unit(image-width(@img))) / 1280 * 100%;

            @img: './img/vacuum.png';
            @apply pointer-events-none absolute;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .item {
            top: 0%;
            left: 0%;
            width: (unit(image-width(@img))) / 1280 * 100%;

            @img: './img/vacuum.png';
            @apply absolute;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }
        }
      }
    }
  }

  .light {
    top: 12.2%;
    left: -0.1%;
    width: (unit(image-width(@img))) / 1280 * 100%;

    @img: './img/light.png';
    @apply pointer-events-none absolute;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply animate-twinkle inline-block w-full bg-contain bg-center bg-no-repeat mix-blend-color-dodge;
    }
  }

  .shock {
    &::before {
      @apply animate-shock;
    }
  }

  .picture {
    top: 34%;
    left: 6%;
    width: (unit(image-width(@img))) / 1280 * 100%;
    transform-origin: bottom center;

    @img: './img/picture.png';
    @apply absolute;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .footprint {
    bottom: 6%;
    left: -6%;
    width: (unit(image-width(@img))) / 1280 * 100%;

    mask-image: url('./img/footprint-mask.png');
    mask-size: 100%;
    mask-position: center (100% / 6 * 0);
    @img: './img/footprint.png';
    @apply pointer-events-none absolute mix-blend-multiply;

    & > div {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      background-size: 100%;

      @apply w-full bg-center bg-no-repeat opacity-50;
    }
  }

  .dot-a {
    top: 61%;
    left: 14.9%;
    @apply pointer-events-none absolute h-1 w-1 rounded-full bg-white opacity-0;
  }

  .dot-b {
    top: 78.5%;
    left: 34.6%;
    @apply pointer-events-none absolute h-1 w-1 rounded-full bg-white opacity-0;
  }

  .line-a {
    top: 78.5%;
    left: 32.8%;
    @apply pointer-events-none absolute h-1 w-1 rounded-full bg-white opacity-0;
  }

  .line-b {
    top: 78.5%;
    left: 36.4%;
    @apply pointer-events-none absolute h-1 w-1 rounded-full bg-white opacity-0;
  }
}
