@import 'tailwindcss';
@theme {
  --color-backgroundColor: #182226;
  --color-backgroundGrey: #1d2719;
  --color-background: #111;
  --color-textColor: #eee;
  --color-primary: #870000;
  --color-secondary: #ff6600;
  --color-tertiary: #ff0066;
  --color-quaternary: #00ff00;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-fade-in-1s: fadeIn 1s ease-in-out forwards;
  --animate-fade-in-2s: fadeIn 2s ease-in-out forwards;

  --animate-fade-out-1s: fadeOut 1s ease-in-out forwards;
  --animate-fade-out-2s: fadeOut 2s ease-in-out forwards;
}
