@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-backgroundColor: #182226;
  --color-backgroundGrey: #1d2719;
  --color-background: #111;
  --color-textColor: #eee;
  --color-primary: #870000;
  --color-secondary: #ff6600;
  --color-tertiary: #ff0066;
  --color-quaternary: #00ff00;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes blank {
    0% {
      opacity: 0.18798659172975485;
    }
    1% {
      opacity: 0.4444837833375124;
    }
    2% {
      opacity: 0.37223972315661846;
    }
    3% {
      opacity: 0.48492495094018107;
    }
    4% {
      opacity: 0.3712932450618196;
    }
    5% {
      opacity: 0.007724301342375339;
    }
    6% {
      opacity: 0.7638865250502603;
    }
    7% {
      opacity: 0.9177009056333684;
    }
    8% {
      opacity: 0.7205190142041769;
    }
    9% {
      opacity: 0.6250104841840024;
    }
    10% {
      opacity: 0.7532186324854379;
    }
    11% {
      opacity: 0.4816717037986551;
    }
    12% {
      opacity: 0.5548542987499604;
    }
    13% {
      opacity: 0.7817652511394516;
    }
    14% {
      opacity: 0.10366348765587607;
    }
    15% {
      opacity: 0.6323233188448786;
    }
    16% {
      opacity: 0.739608767444436;
    }
    17% {
      opacity: 0.2179116212099702;
    }
    18% {
      opacity: 0.41731654121220774;
    }
    19% {
      opacity: 0.5844108800075856;
    }
    20% {
      opacity: 0.47304719981789034;
    }
    21% {
      opacity: 0.02430879079295123;
    }
    22% {
      opacity: 0.6384178233854594;
    }
    23% {
      opacity: 0.4889241272980155;
    }
    24% {
      opacity: 0.2359016994616563;
    }
    25% {
      opacity: 0.6891567637842345;
    }
    26% {
      opacity: 0.611630209072389;
    }
    27% {
      opacity: 0.8345278470602893;
    }
    28% {
      opacity: 0.81946332425318;
    }
    29% {
      opacity: 0.7430995378236084;
    }
    30% {
      opacity: 0.4256949438894507;
    }
    31% {
      opacity: 0.4112099090215898;
    }
    32% {
      opacity: 0.8793498150230795;
    }
    33% {
      opacity: 0.019526427917239797;
    }
    34% {
      opacity: 0.9117813168710158;
    }
    35% {
      opacity: 0.7671021418456663;
    }
    36% {
      opacity: 0.6393492886095222;
    }
    37% {
      opacity: 0.33778562476350427;
    }
    38% {
      opacity: 0.45393711415858107;
    }
    39% {
      opacity: 0.8467441771791732;
    }
    40% {
      opacity: 0.94104818818208;
    }
    41% {
      opacity: 0.17978263188451682;
    }
    42% {
      opacity: 0.36916595717675293;
    }
    43% {
      opacity: 0.5115340885027474;
    }
    44% {
      opacity: 0.4597146109990268;
    }
    45% {
      opacity: 0.7898377466163672;
    }
    46% {
      opacity: 0.9492657541384112;
    }
    47% {
      opacity: 0.19654655986441805;
    }
    48% {
      opacity: 0.5617329248310533;
    }
    49% {
      opacity: 0.5221959614203092;
    }
    50% {
      opacity: 0.20619192657593644;
    }
    51% {
      opacity: 0.6413337091370763;
    }
    52% {
      opacity: 0.5544793741220829;
    }
    53% {
      opacity: 0.40865948854811307;
    }
    54% {
      opacity: 0.993197692176083;
    }
    55% {
      opacity: 0.5377659944144841;
    }
    56% {
      opacity: 0.17570857474171508;
    }
    57% {
      opacity: 0.3546590803208135;
    }
    58% {
      opacity: 0.12041990872647956;
    }
    59% {
      opacity: 0.6399440652644792;
    }
    60% {
      opacity: 0.4883868396395613;
    }
    61% {
      opacity: 0.8246183459703724;
    }
    62% {
      opacity: 0.9653614656426531;
    }
    63% {
      opacity: 0.3223713813996637;
    }
    64% {
      opacity: 0.28324829654164674;
    }
    65% {
      opacity: 0.5920504990873042;
    }
    66% {
      opacity: 0.6528034769219574;
    }
    67% {
      opacity: 0.28794759196223263;
    }
    68% {
      opacity: 0.3662086367100992;
    }
    69% {
      opacity: 0.11916816725161228;
    }
    70% {
      opacity: 0.4972824139764538;
    }
    71% {
      opacity: 0.2874585578010366;
    }
    72% {
      opacity: 0.3944585705760626;
    }
    73% {
      opacity: 0.20663644072903087;
    }
    74% {
      opacity: 0.289987457046057;
    }
    75% {
      opacity: 0.33970727407278756;
    }
    76% {
      opacity: 0.7287692606241858;
    }
    77% {
      opacity: 0.5904690601439452;
    }
    78% {
      opacity: 0.06134988463022506;
    }
    79% {
      opacity: 0.4654457493368591;
    }
    80% {
      opacity: 0.3556559251731779;
    }
    81% {
      opacity: 0.5727730684636817;
    }
    82% {
      opacity: 0.5437269521004374;
    }
    83% {
      opacity: 0.12107074606776613;
    }
    84% {
      opacity: 0.10710162606215656;
    }
    85% {
      opacity: 0.06574893987558961;
    }
    86% {
      opacity: 0.49828105614996343;
    }
    87% {
      opacity: 0.7234586283722625;
    }
    88% {
      opacity: 0.06031164983002413;
    }
    89% {
      opacity: 0.04408857089078133;
    }
    90% {
      opacity: 0.36240617604802783;
    }
    91% {
      opacity: 0.2664121481292926;
    }
    92% {
      opacity: 0.6076828853186382;
    }
    93% {
      opacity: 0.13937258536868435;
    }
    94% {
      opacity: 0.07838471800944324;
    }
    95% {
      opacity: 0.9681231679462525;
    }
    96% {
      opacity: 0.6712258197711348;
    }
    97% {
      opacity: 0.27278352986937926;
    }
    98% {
      opacity: 0.4021082562116378;
    }
    99% {
      opacity: 0.5911178237126631;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes shock {
    10% {
      transform: translate3d(-4px, 0, 0);
    }
    20% {
      transform: translate3d(2px, 0, 0);
    }
    30% {
      transform: translate3d(-2px, 0, 0);
    }
    40% {
      transform: translate3d(4px, 0, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes twinkle {
    0% {
      opacity: 0.8;
    }

    10% {
      opacity: 1;
    }

    20% {
      opacity: 0.7;
    }

    30% {
      opacity: 0.6;
    }

    40% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.5;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0.8;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-in-1s: fadeIn 1s ease-in-out forwards;
  --animate-fade-in-2s: fadeIn 2s ease-in-out forwards;

  --animate-fade-out-1s: fadeOut 1s ease-in-out forwards;
  --animate-fade-out-2s: fadeOut 2s ease-in-out forwards;

  --animate-blank-1s: blank 1s linear forwards;

  --animate-shake: shake 0.62s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  --animate-shock: shock 0.15s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

  --animate-twinkle: twinkle 5s ease-in-out infinite;

  --font-roboto: 'Roboto Condensed', sans-serif;
}
