@import url('@/settings/global.css');
.Taipei .Game .Vacuum {
  @apply absolute top-0 h-full w-full;

  .smoke {
    @apply pointer-events-none absolute top-0 h-full w-full;

    & > canvas {
      @apply absolute h-full w-full;
    }
  }

  .cleaner {
    bottom: 5.8%;
    left: 27.1%;
    width: (unit(image-width(@img))) / 1280 * 100%;

    @img: './img/cleaner.png';
    @apply absolute;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }

    .dot {
      top: 87%;
      left: -52%;

      @apply absolute h-1 w-1 rounded-full bg-white opacity-0;
    }
  }
}
